@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

html,body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-size: cover;
}
.grup{
   
    padding: 40px;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
}
.jj{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}
.lad{
    justify-items: end;
    justify-content: end;
    text-align: end;
}
.xq{
    background-color: #ffdd46de;
}
.coun{
    background-color: rgba(233, 247, 245, 0.575);
    padding: 60px;
    opacity: 1;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 13px 13px;
}
.lk{
    background-color: rgb(255, 244, 209);
    border-width: 30px 1.25em;
}