body{
    background: rgb(58,163,180);
background: linear-gradient(90deg, rgba(58,163,180,1) 0%, rgba(138,29,253,1) 50%, rgba(252,185,69,1) 100%);
}
.ca{
    
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.jj{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}
.coun{
    background-color: rgba(233, 247, 245, 0.575);
    padding: 60px;
    opacity: 1;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 13px 13px;
    margin: 40px;
}